<ion-header>
  <ion-toolbar>
    <ion-title>{{chat.username}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="innermsg">
    <div id="chat-container">
      <span class="line-style"></span>
      <hr>
      <div class="message-wrap">
        <div *ngFor="let msg of messages;let i = index; let first = first; let last = last" class="message">

          <div class="message-left" *ngIf="msg.name !== name">
            <div class="msg-detail">
              <div class="msg-content">
                <p class="line-breaker ">{{msg.message}}</p>
              </div>
            </div>
          </div>
          <div class="message-right" *ngIf="msg.name === name">
            <div class="msg-detail">
              <div class="msg-info">
              </div>
              <div class="msg-content">
                <p class="line-breaker  ">{{msg.message}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer class="footer">
  <ion-row>
    <ion-textarea minlength=1 cols=1 rows=1 type="text" placeholder="Write comment here..." [(ngModel)]="newmessage"></ion-textarea>
    <ion-buttons>
      <ion-button shape="round" (click)="send()"><ion-icon name="send-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-row>
 </ion-footer>