ion-content {
    --ion-background-color: peachpuff;
}
ion-button {
    border-color:white;
}
ion-input {
    border-radius: 10px;
    background: #ffe3ca;
    text-indent: 20px;
}

.text{
    font-size: x-small;
    color: white;
    font-weight: bold;
}