ion-header {
    --ion-background-color: peachpuff;
}

ion-content {
    --ion-background-color: peachpuff;
}

ion-textarea {
    border-radius: 10px;
    background: #ffe3ca;
    padding-left: 10px;
}

img{
    margin: auto;
    display: block;
  }

.padding {
    padding-top: 30px;
    padding-left: 20px;
    color: grey;
    display: block;
}