<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-grid>
      <ion-row>
        <ion-col class="center" size="auto">
          <ion-avatar>
            <img [src]="image">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <p><b>‏‏‎{{username}}</b>‏‏‎ ‎{{caption}} </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item lines="none" *ngFor="let comment of comments">
    <ion-grid>
      <ion-row>
        <ion-col class="center" size="auto">
          <ion-avatar>
            <img [src]="comment.userimg">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <p><b>‏‏‎‎{{comment.username}}</b>‏‏‎ ‎{{comment.comment}} </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>

<ion-footer class="footer">
  <ion-row>
    <ion-textarea minlength=1 cols=1 rows=1 type="text" placeholder="Write comment here..." [(ngModel)]="newmessage"></ion-textarea>
    <ion-buttons>
      <ion-button shape="round" (click)="addComment()"><ion-icon name="send-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-row>
 </ion-footer>
